.banner-vacancy
  h1.banner-vacancy__title= 'Якщо ви мрієте допомагати, то давайте робити це разом'

  .banner-vacancy__wrapper
    .banner-vacancy__content
      p.banner-vacancy__text!= 'Ми активно розвиваємо партнерські проєкти. Завдяки цьому є постійна потреба в лікарях-стоматологах різних рівнів.'

      a.banner-vacancy__button.button-dark(href="#", target="_blank", rel="nofollow")!= 'Хочу до вас в команду'

      p.banner-vacancy__text!= 'А також ви можете стати нашим партнером і відкрити TVOYA dental studio.'
      
      a.banner-vacancy__button.button-dark(href="#", target="_blank", rel="nofollow")!= 'Дізнатися більше'

    .banner-vacancy__img
      img(src=require('@/assets/img/vacancy.jpg'), alt="vacancy")
