section.form-footer(class=footerForm.class)
  ._container
    .form-footer__wrapper
      div.form-footer__form(class=footerForm.formClass)
        form
          div
            input(type="text", placeholder="Прізвище*") 
            input(type="text", placeholder="Ім'я*") 
          
          div 
            input(type="tel", placeholder="Телефон*") 

          div 
            select(name="clinic") 
              option(value="null", selected)!= footerForm.selectLabel
              option(value="Голосіївський") Голосіївський
              option(value="Оболонський") Оболонський
            
            input(type="submit", value=footerForm.btn)
          
      .form-footer__img
        img(src=require(footerForm.img), alt="form-footer")
          