section.intime
  .intime__wrapper
    h2.intime__title Ясно і вчасно:

    .intime-slider.swiper
      .swiper-wrapper
        .swiper-slide.intime-slide
          .intime-slide__img
              img.desktop(src=require('@/assets/img/intime-slide-img.jpg'), alt='intime')

          .intime-slide__info
              p.intime-slide__title!= 'Скільки <br/>коштує?'

              p.intime-slide__subtitle!= 'У нас фіксовані та прозорі ціни. Ви можете самостійно ознайомитись з прайсом на сайті, а також ми з радістю проконсультуємо вас: визначимо план лікування, час і назвемо остаточну вартість за весь пакет послуг.'
        .swiper-slide.intime-slide
          .intime-slide__img
              img.desktop(src=require('@/assets/img/intime-slide-img.jpg'), alt='intime')

          .intime-slide__info
              p.intime-slide__title!= 'Скільки <br/>коштує?'

              p.intime-slide__subtitle!= 'У нас фіксовані та прозорі ціни. Ви можете самостійно ознайомитись з прайсом на сайті, а також ми з радістю проконсультуємо вас: визначимо план лікування, час і назвемо остаточну вартість за весь пакет послуг.'
        .swiper-slide.intime-slide
          .intime-slide__img
              img.desktop(src=require('@/assets/img/intime-slide-img.jpg'), alt='intime')

          .intime-slide__info
              p.intime-slide__title!= 'Скільки <br/>коштує?'

              p.intime-slide__subtitle!= 'У нас фіксовані та прозорі ціни. Ви можете самостійно ознайомитись з прайсом на сайті, а також ми з радістю проконсультуємо вас: визначимо план лікування, час і назвемо остаточну вартість за весь пакет послуг.'

    .intime-slider-controls
      .intime-slider-pagination pagination